#mainImg {
    width: 100%;
}

.containerImg {
    position: relative;
}

#textImg {
    position: absolute;
    top: 69px;
    right: 93px;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    color: red;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#containerInput {
    display: flex;
}


/* Google maps CSS */
#map {
    height: 75%;
    margin-bottom: 50px;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Location box CSS */
.custom-map-control-button {
    left: 900px;
    margin-top: 10px;
    height: 40px;
    width: 220px;
    font-family: 'Mulish', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: bold;
    background: rgb(255, 255, 255);
}

.custom-map-control-button:hover {
    cursor: pointer;
}

/* This displays the location box to have responsive layout */
button.custom-map-control-button[style] {
    left: 40% !important;
}

#btn {
    background-color: yellow;
}

#defaultMap {
    width: 100%;
}

/* marker headers on map */
.marker-header {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

/* Div containing the image for the info window */
.info-box {
    display: flex;
    justify-content: center;
}

/* image within the info window */
.infoImg {
    width: 100%;
    height: auto;
}

.textBox {
    text-align: center;
    height: 40px;
    width: 100%;
}

/* for slideshow and images in slideshow*/
.mySlides {
    display: none;
}

.roadTripImg {
    vertical-align: middle;
    width: 100%;
    height: 865px;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}


@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
