#mainImg {
    width: 100%;
}

.containerImg {
    position: relative;
}

#textImg {
    position: absolute;
    top: 55px;
    left: 106px;
    z-index: 1;
    font-family: 'Montserrat';
    font-size: 3em;
    font-weight: bolder;
    color: #d68c45;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#containerInput {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
}

/* Google maps CSS */
#map {
    height: 75%;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 3px;
}

html,
body {
    overflow: auto;
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("./images/mohammad-alizade-S5uV7ro4UPY-unsplash.jpg");
    background-size: contain;
}

/* Location box CSS */
.custom-map-control-button {
    left: 900px;
    margin-top: 10px;
    height: 40px;
    width: 220px;
    font-family: 'Mulish', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: bold;
    background: rgb(255, 255, 255);
}

.custom-map-control-button:hover {
    cursor: pointer;
}

/* This displays the location box to have responsive layout */
button.custom-map-control-button[style] {
    left: 40% !important;
}

#btn {
    background-color: yellow;
}

#defaultMap {
    width: 100%;
}

#distanceTravel {
    min-width: 0px;
    font-size: 13px;
    text-align: center;
    min-height: 0px;
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
}

#durationTravel {
    min-width: 0px;
    font-size: 13px;
    text-align: center;
    min-height: 0px;
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
}

/* marker headers on map */
.marker-header {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

/* Div containing the image for the info window */
.info-box {
    display: flex;
    justify-content: center;
}

/* image within the info window */
.infoImg {
    width: 100%;
    height: auto;
}

/* for slideshow and images in slideshow*/
.mySlides {
    display: none;
}

.roadTripImg {
    vertical-align: middle;
    width: 100vw;
    height: 60vh;
    border-radius: 3px;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}


@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

#hero-body {
    position: relative;
    padding: 10px;
    padding-right: 50px;
    padding-left: 50px;
}

.input {
    margin-right: 10px;
    margin-bottom: 10px;
}

#containerDistanceDuration {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
}

/* Styles for the top 5 list */
#topFiveContainer {
    background-color: #fefae0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 3px;
    margin-bottom: 2%;
    padding-bottom: 1%;
}

#topFiveHeader {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: black;
    padding: 2%;
    margin-bottom: 0;
    border-bottom: 1px solid black;
}

#topFiveList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1%;
}

/* Container div for the top 5 list items */
.t5ListItemContainer {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    border-bottom: 1px solid black;
}

/* remove border from last child */
.t5ListItemContainer:last-child {
    border-bottom: none;
}

/* Header for the top 5 list items */
.t5LocationHeader {
    font-size: 200%;
    font-weight: bold;
}

/* Paragraph for rating */
.ratingPara {
    font-size: 140%;
}

/* Paragraph for rating total */
.totalRatingPara {
    font-size: 125%;
}

/* Paragraph for rating */
.addressPara {
    font-size: 125%;
}

/* Photo of the place */
.placePhoto {
    border-radius: 4px;
}

.hidden {
    display: none !important;
}